span {
  background: rgb(59 105 196 / 0.3);
  border: 3px solid rgb(59 105 196 / 0.6);
  border-radius: 15px;
  color: rgb(59 105 196);
  display: inline-block;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1;
  padding: 10px 16px;
}

@media (min-width: 768px) {
  span {
    border-radius: 20px;
    font-size: 6rem;
    padding: 15px 30px;
  }
}


