:host {
  position: relative;
}

input {
  background: rgb(59 105 196 / 0.3);
  border: 3px solid rgb(59 105 196 / 0.6);
  border-radius: 15px;
  color: rgb(59 105 196);
  font-size: 2rem;
  font-weight: bold;
  height: 34px;
  padding: 10px 16px;
  width: 36px;
}

input:focus-visible {
  outline: none;
}

input.wrong-answer {
  background: rgb(196 59 59 / 0.3);
  border: 3px solid rgb(196 59 59 / 0.6);
  color: rgb(196 59 59 / 0.8);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.wrong-answer-message {
  bottom: -28px;
  color: rgb(196 59 59 / 0.8);
  font-size: 0.75rem;
  font-weight: bold;
  line-height: 1;
  margin: 0;
  position: absolute;
  left: 8px;
  text-shadow: rgb(196 59 59) 0 0 16px;
}

@media (min-width: 768px) {
  input {
    border-radius: 20px;
    font-size: 6rem;
    height: 96px;
    padding: 15px 30px;
    width: 107px;
  }

  .wrong-answer-message {
    bottom: -24px;
    font-size: 1rem;
  }
}
