:host {
  position: relative;
}

:host:has(a.nav-active) span {
  opacity: 1;
  transition: opacity 0.8s ease-in;
}

a {
  align-items: center;
  animation: float 3s infinite ease-in-out alternate;
  clip-path: circle(50% at 50% 50%);
  color: rgb(255 255 255);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
}

a:focus,
a:hover,
a:active,
a:focus-visible,
a:visited {
  color: rgb(255 255 255);
}

div:has(a.nav-active) {
  filter: drop-shadow(0 0 10px rgb(18 175 164 / 1));
  transform: scale(1.2);
  transition: all 0.5s ease-in-out;
}

span {
  bottom: -25px;
  font-size: 0.75rem;
  font-weight: bold;
  left: 50%;
  opacity: 0;
  padding: 2px 14px;
  position: absolute;
  text-align: center;
  transform: translateX(-50%);
}
