button {
  background: rgb(59 196 89 / 0.7);
  border: 3px solid rgb(59 196 89 / 0.9);
  border-radius: 13px;
  color: rgba(255 255 255);
  font-size: 1.1rem;
  font-weight: bold;
  padding: 8px 16px;
}

h2 {
  font-size: 1.25rem;
  margin: 0;
}

.container {
  align-items: center;
  background: rgb(159 221 239);
  display: flex;
  flex-direction: column;
  gap: 40px;
  height: 100vh;
  justify-content: center;
  position: relative;
  width: 100vw;
}

.content {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 40px;
  position: relative;
  z-index: 1;
}

.math-bg {
  left: 0;
  height: 100%;
  object-fit: cover;
  opacity: 0.45;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}

.math-sign {
  font-size: 3rem;
  font-weight: bold;
}

.math-sign.multiplication-sign {
  font-size: 1.5rem;
}

.question-card {
  align-items: center;
  display: flex;
  gap: 8px;
  position: relative;
}

@media (min-width: 768px) {
  button {
    font-size: 1.4rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  .math-sign {
    font-size: 5rem;
  }

  .math-sign.multiplication-sign {
    font-size: 3rem;
  }

  .question-card {
    gap: 15px;
  }
}

