<div class="container">
  <div *ngIf="currentQuestion" class="content">
    <h2>Completado: {{ userResults.length }} / {{ questionsNumber }}</h2>

    <div class="question-box">
      <app-number-squared [number]="currentQuestion.operand1"></app-number-squared>

      <span class="math-sign multiplication-sign">x</span>

      <app-number-squared [number]="currentQuestion.operand2"></app-number-squared>

      <span class="math-sign">=</span>

      <app-math-answer-input
        [value]="currentAnswer"
        (enterKeyPressed)="checkAnswer()"
        (valueChanged)="currentAnswer = $event"
        [isAnswerWrong]="isAnswerWrong"
      />
    </div>

    <button (click)="checkAnswer()">Comprobar</button>
  </div>

  <div *ngIf="!currentQuestion" class="content">
    <h2 class="success">¡¡¡Felicidades!!! Completaste todos los ejercicios</h2>

    <div class="attempts-table">
      <span class="header">Ejercicios</span>
      <span class="header">Intentos</span>
      <ng-container *ngFor="let result of userResults">
        <span>{{ result.operand1 }} x {{ result.operand2 }}</span>
        <span>{{ result.attemptsNumber }}</span>
      </ng-container>
    </div>

    <button (click)="restartQuiz()">Reiniciar</button>
  </div>

  <img
    alt="math background"
    class="math-bg"
    height="1080"
    src="assets/math-background.avif"
    width="1920"
  >
</div>
