<div class="container">
  <div *ngIf="currentQuestion" class="content">
    <h2>Completado: {{ answerProgress }} / {{ questionsTotal }}</h2>

    <div class="question-card">
      <app-number-squared [number]="currentQuestion.number1"></app-number-squared>
      <span class="math-sign multiplication-sign">x</span>
      <app-number-squared [number]="currentQuestion.number2"></app-number-squared>
      <span class="math-sign">=</span>
      <app-math-answer-input
        [value]="userAnswer"
        (enterKeyPressed)="checkAnswer()"
        (valueChanged)="userAnswer = $event"
        [isAnswerWrong]="isAnswerWrong"
      />
    </div>

    <button (click)="checkAnswer()">Comprobar</button>
  </div>

  <img
    alt="math background"
    class="math-bg"
    height="1080"
    src="assets/math-background.avif"
    width="1920"
  >
</div>
