<div *ngIf="currentQuestionIndex() !== questions().length">
  <span class="glass-box" i18n="@@mathOperationProgress"
    >Question {{ currentQuestionIndex() + 1 }} of {{ questions().length }}
  </span>

  <app-math-question
    [question]="currentQuestion()"
    (questionSolved)="onQuestionSolved($event)"
  >
  </app-math-question>
</div>

<div *ngIf="currentQuestionIndex() === questions().length">
  <app-celebration
    [totalQuizTime]="quizSummary().totalQuizTime"
  ></app-celebration>

  <ng-container *ngIf="quizSummary().items.length">
    <app-math-quiz-summary
      [mathQuizSummaryItems]="quizSummary().items"
    ></app-math-quiz-summary>
  </ng-container>
</div>
