@if (currentQuestionIndex() !== questions().length) {
  <div>
    <span class="glass-box" i18n="@@mathOperationProgress">
      Question {{ currentQuestionIndex() + 1 }} of {{ questions().length }}
    </span>

    <app-math-question
      [question]="currentQuestion()"
      (questionSolved)="onQuestionSolved($event)"
    ></app-math-question>
  </div>
}

@if (currentQuestionIndex() === questions().length) {
  <div>
    <app-celebration
      [totalQuizTime]="quizSummary().totalQuizTime"
    ></app-celebration>

    @if (quizSummary().items.length) {
      <app-math-quiz-summary
        [mathQuizSummaryItems]="quizSummary().items"
      ></app-math-quiz-summary>
    }
  </div>
}

